<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <title>Craftsy || Home</title>
    <link rel="stylesheet" href=".../css/styles.css">
</head>
<body>
    
    <main>
        <div class="main__caja__padre-produc">
            <article>
                <img src="/img/img-phone-01.jpg" alt="phone-01">
                <div class="home__mian__caja-chica">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.
                        Lorem ipsum dolor.</p>
                    <a href="">ver más</a>
                </div>
            </article>
            <article>
                <img src="/img/img-phone-02.jpg" alt="phone-02">
                <div class="home__mian__caja-chica">
                    <h3>Nombre del Producto</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing.
                        Lorem ipsum dolor.</p>
                    <a href="">ver más</a>
                </div>
            </article>
            <article>
                <img src="/img/img-phone-03.jpg" alt="phone-03">
                <div class="home__mian__caja-chica">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.
                        Lorem ipsum dolor.</p>
                    <a href="">ver más</a>
                </div>
            </article>
    
            <article>
                <img src="/img/img-phone-01.jpg" alt="phone-012">
                <div class="home__mian__caja-chica">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.
                        Lorem ipsum dolor.</p>
                    <a href="">ver más</a>
                </div>
            </article>
            <article>
                <img src="/img/img-phone-02.jpg" alt="phone-022">
                <div class="home__mian__caja-chica">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.
                        Lorem ipsum dolor.</p>
                    <a href="">ver más</a>
                </div>
            </article>
            <article>
                <img src="/img/img-phone-03.jpg" alt="phone-033">
                <div class="home__mian__caja-chica">
                    <h3>Nombre del Producto</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.
                        Lorem ipsum dolor.</p>
                    <a href="">ver más</a>
                </div>
            </article>
        </div>
        <div>
            <aside>
                <img src="/img/aside-01.jpg" alt="aside-01">
                <p>Lorem ipsum dolor sit amet coanimi. Atque
                Lorem ipsum dolor sit amet consectetur.</p>
            </aside>
            <aside>
            <img src="/img/aside-02.jpg" alt="aside-02">
            <p>Lorem ipsum dolor sit amet coanimi. Atque
            lorem ipsum dolor sit amet consectetur.</p>
            </aside>
            <aside>
                <img src="img/aside-03.jpg" alt="aside-03">
                <p>Lorem ipsum dolor sit amet coanimi. Atque
                Lorem ipsum dolor sit amet consectetur.</p>
            </aside>
            <aside>
                <img src="/img/aside-04.jpg" alt="aside-04">
                <p>Lorem ipsum dolor sit amet coanimi. Atque
                Lorem ipsum dolor sit amet consectetur.</p>
            </aside>
    
            <aside>
            <h2>Publicidad</h2>
            <img src="/logo-pajaro.jpg" alt="logo-pajaro ">
            <img src="/logo-pajaro-de-sol.jpg" alt="logo-pajaro">
            </aside>
        </div>
    </main></body>
</html>